<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tooltar.mapper.MSportDaoI">
	
	<!-- 根据用户id查询今日运动 -->
	<select id="loadTodaySportByMuid" 
		parameterType="java.lang.Integer" resultType="com.tooltar.bean.MSportBean">
		select avg(mu_id) as mu_id,avg(kcal) kcal,
		avg(mileage) mileage,avg(speed) speed 
		from 
		(
		SELECT * FROM m_sport ms where ms.mu_id=#{mu_id} and 
		TO_DAYS(ms.start_time)=TO_DAYS(now())
		) m
	</select>
	
	<!-- 根据用户id查询本周运动 -->
	<select id="loadWeekSportByMuid" 
		parameterType="java.lang.Integer" 
		resultType="com.tooltar.bean.MSportBean">
		select avg(mu_id) as mu_id,avg(kcal) kcal,
		avg(mileage) mileage,avg(speed) speed 
		from 
		(
		SELECT * FROM m_sport ms where ms.mu_id=mu_id 
		and DATE_SUB(CURDATE(),INTERVAL 7 day) &lt;= DATE(ms.start_time)
		) m
	</select>
	
	<!-- 根据用户id查询本月运动 -->
	<select id="loadMonthSportByMuid" 
		parameterType="java.lang.Integer" 
		resultType="com.tooltar.bean.MSportBean">
		select avg(mu_id) as mu_id,avg(kcal) kcal,
		avg(mileage) mileage,avg(speed) speed 
		from 
		(
		SELECT * FROM m_sport ms where ms.mu_id=mu_id and 
		DATE_SUB(CURDATE(),INTERVAL 30 day) &lt;= DATE(ms.start_time)
		) m
	</select>
	
</mapper>
